<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  
  <div class="container">
  
      <h1>Post delete request</h1>
      <p>You are logged in.</p>
	  <p><a href="/logout">Logout</a></p>
	  <br>
	  
	   <form action="/posts" method="POST" style="display: inline">Are you sure you want to delete this post?
	  {% for post in posts %}
	  <a href="/deletepost?id={{ post.id }}"><input type="submit" name="id" value="Delete"></a><p style="display: inline"> or </p></form><a href="/posts">Cancel</a>
		{% endfor %}
		
		{% for message in get_flashed_messages() %}
        {{ message }}
	  {% endfor %}
	  </div>
</body>
</html>
	 