<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  
  <div class="container">
  
      <h1>Post delete request</h1>
      <p>You are logged in.</p>
	  <br>
	  <p><a href="/logout">Logout</a></p>
	  
	  <br>
	   <form action="/deletepost" method="POST">Are you sure you want to delete this post?
	  
	  <a href="/posts" style="font-color: black;">Delete</a></form><a href="/posts" style="display: inline">    Cancel</a>

	  </div>
</body>
</html>
	 