<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Home</h1>
      <p style="font-size: 75%" id="date"></p>

		<script >
		var d = new Date();
		document.getElementById("date").innerHTML = d;
		</script>
{% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
	  <p>You are logged in.</p>
	  <br>
	  
	  <p style="font-size: 125%"><a href="/logout">Logout</a></p>
	 
	  <p style="font-size: 125%"><a href="/posts">Forum</a></p>
    </div>
  </body>
</html>