<!DOCTYPE html>
<html>
  <head>
    <title>Lab2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome!</h1>
      
	  <p>You are logged in.</p>
	  
	  <p>Click <a href="/logout">here</a> to logout.</p>
	  <br>
	  <form action="/posts" method="post">Use the box below to submit a post:
	  <br>
        <textarea name= "newpost" style = "resize: none" rows="5" cols="50" type="text" 
		placeholder="Write here..."> </textarea>
		<br>
         <input class="btn btn-default" type="submit" value="Submit">
      </form>
      <br>
	  <p>Click <a href="/posts">here</a> to view all posts</p>
    </div>
  </body>
</html>