<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
	  <p style="font-size: 75%" id="date"></p>
	  <script >
		var d = new Date();
		document.getElementById("date").innerHTML = d;
	</script>
	  <p>*Username and password are both "admin"</p>
	  
	  <a href="/create" class="btn btn-default" value="Create Account">
	 
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username">
         <input type="password" placeholder="Password" name="password"> 
        <input class="btn btn-default" type="submit" value="Login">
      </form>
	  <p>Please login. </p>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
	  </div>
  </body>
</html>