<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  
  <div class="container">
  
      <h1>Posts</h1>
      <p>You are logged in.</p>
	  <br>
	  <p>Click <a href="/logout">here</a> to logout.</p>
	  <p>Click <a href="/">here</a> to go back.</p>
	  <br>
	   <form action="/posts" method="POST">Use the form below to submit a post:
	  <br>
	  <br>
	  <p>Name:  <input type="text" name="name" placeholder="Your name..."? required></p>
	  <p>Message:</p>
	  <textarea placeholder="Your message..." name="comment" style="resize: none" rows="5" cols="50" type="text" 
		required></textarea>
		<br>		
      <input class="btn btn-default" type="submit" value="Submit">
      </form>
      <br>
	  	  
	<h3>Recent comments</h3>
	<br>
	
	{% if posts %}
	
	<ul style= "list-style-type:none">
		{% for post in posts %}
		<li><p style="color:#737373; font-size:175%; display:inline;">{{ post[0] }}</p> said:<p style="color:#5900b3; font-size:125%">- {{ post[1] }}</p>
		<form method="DELETE"><a style="font-size:75%" href="/posts">Delete post</a></form>
		<br>
		<br>
		</li>
		{% endfor %}
		{% endif %}
	</ul>
	
	
</body>
</html>