<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  
  <div class="container">
  
      <h1>Posts</h1>
      <p>You are logged in.</p>
	  <br>
	  <p><a href="/logout">Logout</a></p>
	  <p><a href="/">Home</a></p>
	  <br>
	   <form action="/posts" method="POST">Use the form below to submit a post:
	  <br>
	  <br>
	  <p>Name:  <input type="text" name="name" placeholder="Your name..."? required></p>
	  <p>Message:</p>
	  <textarea placeholder="Your message..." name="comment" style="resize: none" rows="5" cols="50" type="text" 
		required></textarea>
		<br>		
      <input class="btn btn-default" type="submit" value="Submit">
      </form>
      <br>
	  	 {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %} 
	<h3>Recent posts</h3>
	
	{% if posts %}
	
	<ul style= "list-style-type:none">
		{% for x in posts %}
		<li><p style="color:#737373; font-size:150%; display:inline;">{{ x[0] }}</p> said:<p style="color:#5900b3;">- {{ x[1] }}</p>
		<form method='GET' style="display: inline"><a style="font-size:75%" href="/posts">Delete post</a></form>
		<br>
		<br>
		</li>
		{% endfor %}
		{% endif %}
		<p style="text-align: center"> <a href="/posts">Top of page</a></p>
	</ul>
	
	
</div>
</body>
</html>